{% extends '../base.html' %}
{% block title %}{{ user_type|title }} Sign Up{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-md-8 col-sm-10 col-12">
        <h2>Sign Up as {{ user_type|title }}</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {{ form|crispy }}
            <button type="submit" class="btn btn-lg btn-success">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}