{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font_awesome/css/all.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.dataTables.min.css' %}">


</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Philippine Island Kids International Foundation, Inc. Database</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                </ul>
                {% if user.is_authenticated %}
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Signed in as <strong>{{ user }}</strong>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/admin">Settings</a>
                        <a class="dropdown-item" href="/admin/logout/?next=/">Sign Out</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main role="main" class="container" style="margin-top: 5em;">
        {% block content %} {% endblock %}
    </main>

    <footer class="container" style="margin-top: 3em; margin-bottom: 3em;">
        &copy; 2019 Philippine Island Kids International Foundation Database. Developed by <a
            href="https://marcreyes.ph/">Marc Anthony Reyes</a>.
    </footer>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'js/buttons.print.min.js' %}"></script>
    <script src="{% static 'js/buttons.colVis.min.js' %}"></script>
    <script src="{% static 'js/filterDropDown.min.js' %}"></script>
    <script src="{% static 'js/jszip.min.js' %}"></script>
    <script src="{% static 'js/pdfmake.min.js' %}"></script>
    <script src="{% static 'js/vfs_fonts.js' %}"></script>
    <script src="{% static 'js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'js/buttons.flash.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            var table = $('#myTable').DataTable({
                filterDropDown: {
                    columns: [
                        {
                            idx: 3
                        },
                        {
                            idx: 12
                        },
                        {
                            idx: 15
                        }
                    ],
                    bootstrap: true
                },
                'columnDefs': [
                    {
                        'targets': [19, 20, 21],
                        'searchable': false,
                        'orderable': false,
                        'visible': true
                    },
                    {
                        'targets': [1, 2, 6, 7, 8, 9, 10, 11, 13, 14, 18],
                        'visible': false
                    },
                ],
                "bLengthChange": false,
                "iDisplayLength": 10,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'colvis',
                        text: 'Toggle Column Visibility',
                    },
                    {
                        extend: 'copy',
                        text: 'Copy Rows',
                    },
                    {
                        extend: 'excelHtml5',
                        title: 'Philippine Island Kids International Foundation, Inc.',
                        text: 'Export to Excel (.xlsx)',
                        messageTop: 'The information in this table is copyright to Sirius Cybernetics Corp.',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        },
                    },
                    {
                        extend: 'pdfHtml5',
                        title: 'Philippine Island Kids International Foundation, Inc.',
                        messageTop: 'Generated on {date}',
                        text: 'Export to PDF (.pdf)',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        },
                    },
                    {
                        extend: "print",
                        title: 'Philippine Island Kids International Foundation, Inc.',
                        exportOptions: {
                            columns: ':not(.notexport)'
                        },
                        customize: function (win) {

                            var last = null;
                            var current = null;
                            var bod = [];

                            var css = '@page { size: landscape; }',
                                head = win.document.head || win.document.getElementsByTagName('head')[0],
                                style = win.document.createElement('style');

                            style.type = 'text/css';
                            style.media = 'print';

                            if (style.styleSheet) {
                                style.styleSheet.cssText = css;
                            }
                            else {
                                style.appendChild(win.document.createTextNode(css));
                            }

                            head.appendChild(style);
                        }
                    }
                ]
            });
        });
    </script>
</body>

</html>