{% extends 'base.html' %} {% block content %}

<div class="jumbotron">
    {% if user.is_authenticated %}
    <title>Student List &mdash; Philippine Island Kids International Foundation, Inc. Database</title>
    <h1>Student Master List</h1>
    <p class="lead">View student records from the inception of Philippine Island Kids International Foundation, Inc.
        Database
        up to present. To add a new
        student, click the button below.</p>
    <a class="btn btn-lg btn-primary" href="/student/new" role="button">
        <i class="fa fa-user-plus" style='margin-right: 20px;'></i>Add New Student</a>
    {% else %}
    <title>Home &mdash; Philippine Island Kids International Foundation, Inc. Database</title>
    <h1>Welcome to Philippine Island Kids International Foundation, Inc. Database</h1>
    <p class="lead">Sign in to access contents of the database.</p>
    <a class="btn btn-lg btn-primary" href="admin/login/?next=/" role="button">
        <i class="fa fa-user" style='margin-right: 20px;'></i>Sign In</a>
    {% endif %}
</div>
{% if user.is_authenticated %}
<table class="table table-striped" id="myTable" cellspacing="0" width="100%">
    <style>
        .myTable_filterWrapper {
            margin-bottom: 0.5em;
        }

        .myTable_filterSelect {
            margin: 0 0.3em 0.5em 0.5em;
        }

        .dt-buttons {
            margin-bottom: 1em;
        }

        .dt-buttons button {
            margin: 0 0.5em 0 0;
        }
    </style>
    <thead>
        <tr>
            <th class="notexport">Profile Image</th>
            <th class="notexport">Student Name</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Gender</th>
            <th>Birthdate</th>
            <th>Age</th>
            <th>Address</th>
            <th>Parent/Guardian 1</th>
            <th>Parent/Guardian 2</th>
            <th>Parent Civil Status</th>
            <th>School Last Attended</th>
            <th>Current School</th>
            <th>Grade/Year Level</th>
            <th>Section</th>
            <th>Course</th>
            <th>Promotional Status</th>
            <th class="notexport">Has Sponsor</th>
            <th>Date Admitted</th>
            <th>Sponsor's Name</th>
            <th class="notexport">View</th>
            <th class="notexport">Edit</th>
            <th class="notexport">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>
                <img src="/media/{{ student.profile_image }}" width="50" height="50" style="border-radius: .3rem"
                    alt="{{ student.family_name }}, {{ student.first_name }}">
            </td>
            <td style="font-weight: bold;">{{ student.family_name }}, {{ student.first_name }}</td>
            <td>{{ student.family_name }}</td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.birthdate }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.address }}</td>
            <td>{{ student.parent_guardian_1 }}</td>
            <td>{{ student.parent_guardian_2 }}</td>
            <td>{{ student.parent_civil_status }}</td>
            <td>{{ student.school_last_attended }}</td>
            <td>{{ student.school_current }}</td>
            <td>{{ student.level }}</td>
            <td>{{ student.section }}</td>
            <td>{{ student.course }}</td>
            <td>{{ student.educational_status }}</td>
            {% if student.sponsors_name != 'None' %}
            <td>Yes</td>
            {% else %}
            <td>No</td>
            {% endif %}
            <td>{{ student.date_ikp_enrollment }}</td>
            <td>{{ student.sponsors_name }}</td>
            <td>
                <a class="btn btn-md btn-primary" href="{% url 'student_detail' pk=student.pk %}" role="button">
                    <i class="fa fa-eye"></i></a>
            <td>
                <a class="btn btn-md btn-secondary" href="{% url 'student_edit' pk=student.pk %}" role="button">
                    <i class="fa fa-edit"></i></a>
            </td>
            <td>
                <a class="btn btn-md btn-danger" href="{% url 'student_delete' pk=student.pk %}" role="button">
                    <i class="fa fa-trash-o"></i></a></td>

        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}