{% extends 'base.html' %} {% block content %}
<title>Add/Update Student Info &mdash; Philippine Island Kids International Foundation Database</title>
<div class="jumbotron">
    <h1>Add/Update Student Info</h1>
    <p class="lead">Add the necessary details of the student below. If a field is not applicable, place
        <strong>"N/A"</strong>.</p>
    <a class="btn btn-lg btn-secondary" href="/" role="button">
        <i class="fas fa-undo" style='margin-right: 20px;'></i>Cancel</a>
</div>
<form method="POST" enctype="multipart/form-data">
    {{ form.non_field_errors }}
    {% csrf_token %}
    <div class="form-group row">
        <div class="col-sm-5">
            Profile Image
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <img src="/media/{{ form.profile_image.value }}" height="170" width="170" style="border-radius: .3rem;"
                alt="">
        </div>
        <div class="col-sm-6">
            {{ form.profile_image.errors }}
            {{ form.profile_image }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.family_name.errors }}
        <label for="{{ form.family_name.id_for_label }}" class="col-sm-2 col-form-label">Family Name</label>
        <div class="col-sm-4">{{ form.family_name }}</div>
        {{ form.first_name.errors }}
        <label for="{{ form.first_name.id_for_label }}" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-4">{{ form.first_name }}</div>
    </div>
    <div class="form-group row">
        {{ form.gender.errors }}
        <label for="{{ form.gender.id_for_label }}" class="col-sm-2 col-form-label">Gender</label>
        <div class="col-sm-4">{{ form.gender }}</div>
        {{ form.level.errors }}
        <label for="{{ form.level.id_for_label }}" class="col-sm-2 col-form-label">Grade/Year Level</label>
        <div class="col-sm-4">{{ form.level }}</div>
    </div>
    <div class="form-group row">
        {{ form.school_last_attended.errors }}
        <label for="{{ form.school_last_attended.id_for_label }}" class="col-sm-2 col-form-label">School Last
            Attended</label>
        <div class="col-sm-4">{{ form.school_last_attended }}</div>
        {{ form.school_current.errors }}
        <label for="{{ form.school_current.id_for_label }}" class="col-sm-2 col-form-label">School Current</label>
        <div class="col-sm-4">{{ form.school_current }}</div>
    </div>
    <div class="form-group row">
        {{ form.date_ikp_enrollment.errors }}
        <label for="{{ form.date_ikp_enrollment.id_for_label }}" class="col-sm-2 col-form-label">Date of IKP
            Enrollment</label>
        <div class="col-sm-4">{{ form.date_ikp_enrollment }}</div>
        {{ form.sponsors_name.errors }}
        <label for="{{ form.sponsors_name.id_for_label }}" class="col-sm-2 col-form-label">Sponsor's Name</label>
        <div class="col-sm-4">{{ form.sponsors_name }}</div>
    </div>
    <div class="form-group row">
        {{ form.student_bio.errors }}
        <label for="{{ form.student_bio.id_for_label }}" class="col-sm-2 col-form-label">Short Student
            Description</label>
        <div class="col-sm-4">{{ form.student_bio }}</div>
        {{ form.educational_status.errors }}
        <label for="{{ form.educational_status.id_for_label }}" class="col-sm-2 col-form-label">Educational
            Status</label>
        <div class="col-sm-4">{{ form.educational_status }}</div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            <a class="btn btn-lg btn-secondary" href="/" role="button" style="margin-right: 10px;">
                <i class="fas fa-undo" style='margin-right: 20px;'></i>Cancel</a>
            <input class="btn btn-lg btn-primary" type="submit" value="Save Record">
        </div>
    </div>

</form>
<script>
</script>
{% endblock %}