{% extends 'base.html' %} {% block content %}

<div class="jumbotron">
    {% if user.is_authenticated %}
    <title>Student List &mdash; Philippine Island Kids International Foundation Database</title>
    <h1>Student Master List</h1>
    <p class="lead">View student records from the inception of Philippine Island Kids International Foundation Database
        up to present. To add a new
        student, click the button below.</p>
    <a class="btn btn-lg btn-primary" href="/student/new" role="button">
        <i class="fas fa-user-plus" style='margin-right: 20px;'></i>Add New Student</a>
    {% else %}
    <title>Home &mdash; Philippine Island Kids International Foundation Database</title>
    <h1>Welcome to Philippine Island Kids International Foundation Database.</h1>
    <p class="lead">Sign in to access contents of the database.</p>
    <a class="btn btn-lg btn-primary" href="admin/login/?next=/" role="button">
        <i class="fas fa-user" style='margin-right: 20px;'></i>Sign In</a>
    {% endif %}
</div>
{% if user.is_authenticated %}
<table class="table table-striped" id="myTable">
    <thead>
        <tr>
            <th colspan="2">Student Name</th>
            <th>Gender</th>
            <th>Level</th>
            <th>Educational Status</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>
                <img src="/media/{{ student.profile_image }}" width="50" height="50" style="border-radius: .3rem"
                    alt="{{ student.family_name }}, {{ student.first_name }}">
            </td>
            <td style="font-weight: bold;">{{ student.family_name }}, {{ student.first_name }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.level }}</td>
            <td>{{ student.educational_status }}</td>
            <td>
                <a class="btn btn-md btn-primary" href="{% url 'student_detail' pk=student.pk %}" role="button">
                    <i class="fas fa-eye"></i></a>
            <td>
                <a class="btn btn-md btn-secondary" href="{% url 'student_edit' pk=student.pk %}" role="button">
                    <i class="fas fa-pen"></i></a>
            </td>
            <td>
                <a class="btn btn-md btn-danger" href="{% url 'student_delete' pk=student.pk %}" role="button">
                    <i class="fas fa-user-minus"></i></a></td>

        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}