{% extends 'base.html' %}
{% block title %}Sign Out{% endblock %}

{% block content %}
<h2>You've successfully signed out.</h2>
<p>Return home or sign back in.</p>
<a href="/" class="btn btn-success btn-lg" role="button" style="margin-right: 10px;"><i class="fa fa-undo"
        style="margin-right: 20px;"></i> Return
    to Dashboard</a>
<a href="/accounts/login/" class="btn btn-secondary btn-lg" role="button"><i class="fa fa-user"
        style="margin-right: 20px;"></i> Sign In</a>
{% endblock %}